* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2af7dfdd;
  height: 100vh;
}

header,
nav {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  color: #060138;
  font-family: "Lobster", cursive;
  margin: 15px auto;
}

nav button,
nav input {
  padding: 10px;
  font-size: 16px;
}

.far {
  color: red;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}

.fa-edit {
  color: #0a34a1;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

ul {
  width: 450px;
  background-color: beige;
}

ul li {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border: 1px solid black;
  padding: 5px 10px;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: #060138;
}

.check {
  flex: none;
}

span {
  margin-left: 20px;
  padding-bottom: 5px;
  flex: auto;
}

.lineThrough {
  text-decoration: line-through;
}

.editField {
  padding: 5px 10px;
  margin-bottom: 5px;
}

.saveEdit {
  padding: 5px;
  font-family: sans-serif;
}
